<h1>Edit</h1>
<form stlye = 'display:inline' action='/gallery/{{id}}?_method=PUT' method='POST'>
<input type="text" name="AuthorId" placeholder="AuthorId" value="{{id}}" readonly>
  <input type="text" name="Author name" placeholder="Author name" value="{{name}}" readonly>
  <input type="text" name="Link" placeholder="Link" value="{{link}}" readonly>
  <input type="text" name="Description" placeholder="Description" value="{{description}}">
  <div></div>
  <button type='submit'>submit</button>
</form>
<form action="/gallery/{{id}}?_method=DELETE" method='POST'>
  <button type='submit'>delete</button>
</form>